/* Calendario */
.calendar {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px;
}

/* Encabezado */
.header {
  display: none;
}

@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 136, 148, 1);
    color: #fff;
    font-weight: bold;
  }
  .header .cell {
    width: 14.28%;
    text-align: center;
  }
  .header .hidden-mobile {
    display: none;
  }
}

/* Celdas del calendario */
.body {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.cell {
  flex-basis: calc(100% / 7);
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}

/* Días seleccionados */
.cell.selected {
  background-color: rgba(0, 136, 148, 1);
  color: #fff;
}

/* Días de fiesta */
.cell.holiday {
  background-color: rgba(242, 201, 76, 1);
  font-weight: bold;
}

/* Botón de solicitar vacaciones */
button {
  display: block;
  margin: 1rem auto;
  background-color: rgba(0, 136, 148, 1);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
