.box-registration{
    margin-bottom: 30px;
}
.btn_register{
    background-color: #008894;
    border-radius: 20.5px;
    padding: 15px 50px;
    text-decoration: none;
    border-style: none;
    color: #E5EDF5;
    box-sizing: border-box;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px
}
.control_reg{
    width: 400px;
    border-radius: 16px;
    border: 0;
    padding: 5px;
    background-color: #ccc;
    margin-left: 10px;
}
.reg{
    margin-left: 20px;
}

@media screen and (max-width:767px){
    .control_reg{
        width: 300px;
        margin-bottom: 10px;
    }
  
}
