body {
    margin: 0;
  }
  
  header {
    background-color: white;
    position: sticky;
    z-index: 9;
    width: 100vm;
    top: 0;
    margin: 0;
  }
  
  header .container {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  
    @media screen and (max-width: 767px) {
        padding-left: 0px;
        width:100%;
    }
  }
  
  header .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  header .navbar .nav-links li .option {
    color: black;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
  }
  
  @media screen and (max-width: 767px) {
    header .navbar .nav-links li .option {
      color: black;
      margin-bottom: 15px;
      display: block;
    }
  }
  
  header .navbar .logo {
    width: 130px;
  
    @media screen and (max-width: 767px) {
      width: 90px;
    }
  }
  
  header .navbar .logo img {
    width: 100%;
  }
  
  header .navbar .menu {
    display: flex;
    gap: 1em;
    text-decoration: none;
    list-style: none;
  
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      background-color: white;
      right: 0;
      left: 0;
      top: 69px;
      text-align: center;
      padding: 25px 0;
    }
  }
  
  header .navbar #checkbox_toggle {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    header .navbar #checkbox_toggle:checked ~ .menu {
      display:block;
    
    }
  
    header .navbar .menu {
      width: 100vh;
    }
  }
  
  header .navbar .hamburger {
    display: none;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: black;
  
    @media screen and (max-width: 767px) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 25vh;
    }
  }
  