button {
    display: block;
    margin-left: 780px;
    padding: 15px 30px;
    border: none;
    background-color: #008894;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

@media only screen and (max-width: 767px) {
    .button {
    font-size: 22px;
    padding: 20px 40px;
    margin: 0;
    }
}