.container-table .table table {
    margin-top: 10%;
    border-collapse: collapse;
    width: 324px;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 80%;
}

.container-table .table table tr .number {
    padding: 45px;
    font-size: 3.5em;
    margin-bottom: 15px;
    text-align: center;
    height: auto;
}





.container-table .table table tfoot tr td {
    padding: 55px;
    font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  .container-table .table table {

    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-left: 15px;

  }
  .container-table .table table tbody tr .number {
    padding: 15px;
    font-size: 1em;
    margin-bottom: 15px;
    text-align: center;
  }
  .container-table .table table tfoot tr td {
    padding: 15px;
    font-size: 1em;
}
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
}
.signin-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.signin-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.signin-label {
    font-size: 1rem;
    margin-bottom: 10px;
}

.signin-button {
    background-color: rgba(0, 136, 148, 1);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.signin-time-container {
    font-size: 1rem;
    margin-bottom: 10px;
}

.signin-input {
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .signin-container {
    max-width: 800px;
    }
}

@media only screen and (min-width: 768px) {
    .signin-container {
    max-width: 800px;
    }
}
}